<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstName %><br />
    <%= f.text_field :firstName %>
  </div>
  <div class="field">
    <%= f.label :lastName %><br />
    <%= f.text_field :lastName %>
  </div>
  <div class="field">
    <%= f.label :middleName %><br />
    <%= f.text_field :middleName %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :nickName %><br />
    <%= f.text_field :nickName %>
  </div>
  <div class="field">
    <%= f.label :spouseFirstName %><br />
    <%= f.text_field :spouseFirstName %>
  </div>
  <div class="field">
    <%= f.label :spouseMiddleName %><br />
    <%= f.text_field :spouseMiddleName %>
  </div>
  <div class="field">
    <%= f.label :spouseLastName %><br />
    <%= f.text_field :spouseLastName %>
  </div>
  <div class="field">
    <%= f.label :children %><br />
    <%= f.text_area :children %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :birthday %><br />
    <%= f.date_select :birthday %>
  </div>
  <div class="field">
    <%= f.label :facebook %><br />
    <%= f.text_field :facebook %>
  </div>
  <div class="field">
    <%= f.label :twitter %><br />
    <%= f.text_field :twitter %>
  </div>
  <div class="field">
    <%= f.label :linkedIn %><br />
    <%= f.text_field :linkedIn %>
  </div>
  <div class="field">
    <%= f.label :whereMet %><br />
    <%= f.text_field :whereMet %>
  </div>
  <div class="field">
    <%= f.label :whereFamilyFrom %><br />
    <%= f.text_field :whereFamilyFrom %>
  </div>
  <div class="field">
    <%= f.label :partyScene %><br />
    <%= f.text_field :partyScene %>
  </div>
  <div class="field">
    <%= f.label :currentProject %><br />
    <%= f.text_area :currentProject %>
  </div>
  <div class="field">
    <%= f.label :whoTheyKnow %><br />
    <%= f.text_area :whoTheyKnow %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
