<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @contact.firstName %>
</p>

<p>
  <b>Lastname:</b>
  <%= @contact.lastName %>
</p>

<p>
  <b>Middlename:</b>
  <%= @contact.middleName %>
</p>

<p>
  <b>Title:</b>
  <%= @contact.title %>
</p>

<p>
  <b>Nickname:</b>
  <%= @contact.nickName %>
</p>

<p>
  <b>Spousefirstname:</b>
  <%= @contact.spouseFirstName %>
</p>

<p>
  <b>Spousemiddlename:</b>
  <%= @contact.spouseMiddleName %>
</p>

<p>
  <b>Spouselastname:</b>
  <%= @contact.spouseLastName %>
</p>

<p>
  <b>Children:</b>
  <%= @contact.children %>
</p>

<p>
  <b>Gender:</b>
  <%= @contact.gender %>
</p>

<p>
  <b>Birthday:</b>
  <%= @contact.birthday %>
</p>

<p>
  <b>Facebook:</b>
  <%= @contact.facebook %>
</p>

<p>
  <b>Twitter:</b>
  <%= @contact.twitter %>
</p>

<p>
  <b>Linkedin:</b>
  <%= @contact.linkedIn %>
</p>

<p>
  <b>Wheremet:</b>
  <%= @contact.whereMet %>
</p>

<p>
  <b>Wherefamilyfrom:</b>
  <%= @contact.whereFamilyFrom %>
</p>

<p>
  <b>Partyscene:</b>
  <%= @contact.partyScene %>
</p>

<p>
  <b>Currentproject:</b>
  <%= @contact.currentProject %>
</p>

<p>
  <b>Whotheyknow:</b>
  <%= @contact.whoTheyKnow %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
