<!DOCTYPE html>
<html>
<head>
    <title>mTell Intelligence</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag "nepotismLTE" %>
    <%= stylesheet_link_tag "datatables_bootstrap" %>
    <%= javascript_include_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>
</head>
<body>


<div class="row">
    <div class="span12">
        <div class="navbar navbar navbar-fixed-top">
            <div class="navbar-inner">
                <ul class="nav">

                    <li><%=  image_tag("small_mel.jpg", :size => "60x70") %></li>
                    <li ><%= link_to ' mTell', contacts_path, :class => "brand" %></li>
                    <li  <%= set_as_active_page("contacts", "index")  %>><%= link_to 'Contact Profiles', contacts_path%></li>
                    <li><a href="#"> New Interests</a></li>
                    <li <%= set_as_active_page("contacts", "new")  %>>  <%= link_to 'New Contact', new_contact_path %></li>
                    <li><a href="#"> Say Hello</a></li>

                </ul>

            </div>

<%= yield %>
        </div>
</div>
</div>
</body>
</html>
